* {
	margin:0;
	padding:0;
}

p {
	margin: 0 0 1em 0;
}

#actionlinks {
	margin-bottom: 15px;
}

#actionlinks ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#actionlinks ul li {
	display: inline;
	margin: 0 10px 0 0;
}

#actionlinks ul li a {
	text-decoration: none;
}

#content {
	margin: 0 20px 0 20px;
}

#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

.navbar-default .navbar-brand {
	font-size: 25px;
	font-weight: bold;
}

.navbar-default .navbar-brand:hover {
	font-size: 25px;
	font-weight: bold;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

.settings-container {
	margin: 0 0 20px 0;
}

.settings-title {
	font-size: 18px;
}

