* {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
}

#actionlinks {
	margin-bottom: 15px;
}

#actionlinks ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#actionlinks ul li {
	display: inline;
	margin: 0 10px 0 0;
}

#actionlinks ul li a {
	text-decoration: none;
}

#content {
	margin: 0 20px 0 20px;
}

#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

.navbar-default .navbar-brand {
	font-size: 25px;
	font-weight: bold;
}

.navbar-default .navbar-brand:hover {
	font-size: 25px;
	font-weight: bold;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

.settings-container {
	margin: 0 0 20px 0;
}

.settings-title {
	font-size: 18px;
}

.reports-container {
	margin: 0 0 20px 0;
}

.reports-title {
	font-size: 18px;
}

/******************* MESSAGES ********************/
.success-msg {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
}

.notice-msg {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
	clear: both;
	color: #333;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
}

.error-msg {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #c43c35;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
}

.col-md-4 {
	padding-left: 0px;
}

table tr .dc-error {
	background: #FFFF66;
}
table td .dc-error {
	background: #FFFF66;
}

#show-label {
	padding-right: 8px;
}

#page-title {
	margin: 0 0 20px 20px;
	font-size: 19px;
	color: #333333;
}

.pick-a-color-markup {
	width: 200px;
}

.tag {
	border-radius: 5px 5px 5px 5px;
	font-size: 10px;
	font-weight: bold;
	margin: 0 5px 0 1px;
	padding: 4px;
	text-decoration: none;
}

#page-info {
	padding-right: 20px;
	padding-bottom: 15px;
}

.link-pad {
	padding-left: 15px;
}

a.no-hover:hover {
	text-decoration: none;
}

.addrow, .deleterow, .recalculate {
	color: #428BCA;
	cursor: pointer;
}

.addrow:hover, .deleterow:hover, .recalculate:hover {
	color: #2A6496;
}

ul#qa-list {
	margin: 0 0 0 15px;
	padding: 0;
}
ul#qa-list li {
	list-style: none outside none;
	padding: 3px 0;
}
ul#qa-list li .qa-heading {
	font-weight: bold;
}
ul#qa-list li ul li {
	list-style: square outside none;
	padding: 3px 0;
}
.qa-section {
	margin: 0 0 30px;
}
.qa-question {
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
	margin: 0 0 5px;
}
.qa-answer {
	margin: 0 0 0 20px;
}

.modal-ajax {
	padding-left: 25px;
	font-size: 18px;
}

.modal-error-msg {
	padding-left: 25px;
	color: #FF0000;
	font-size: 18px;
}
