* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
}

#actionlinks {
	margin-bottom: 15px;
}

#actionlinks ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#actionlinks ul li {
	display: inline;
	margin: 0 10px 0 0;
}

#actionlinks ul li a {
	text-decoration: none;
}

#content {
	margin: 0 20px 0 20px;
}

#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

.navbar-default .navbar-brand {
	font-size: 25px;
	font-weight: bold;
}

.navbar-default .navbar-brand:hover {
	font-size: 25px;
	font-weight: bold;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

.settings-container {
	margin: 0 0 20px 0;
}

.settings-title {
	font-size: 18px;
}

.reports-container {
	margin: 0 0 20px 0;
}

.reports-title {
	font-size: 18px;
}

/******************* MESSAGES ********************/
.success-msg {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
}

.notice-msg {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
	clear: both;
	color: #333;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
}

.error-msg {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #c43c35;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
}

table tr .dc-error {
	background: #FFFF66;
}
table td .dc-error {
	background: #FFFF66;
}

#show-label {
	padding-right: 8px;
}

#page-title {
	margin: 0 0 20px 20px;
	font-size: 19px;
	color: #333333;
}

.pick-a-color-markup {
	width: 200px;
}

.tag {
	border-radius: 5px 5px 5px 5px;
	font-size: 10px;
	font-weight: bold;
	margin: 0 5px 0 1px;
	padding: 4px;
	text-decoration: none;
}

#page-info {
	padding-right: 20px;
	padding-bottom: 15px;
}

.link-pad {
	padding-left: 15px;
}

a.no-hover:hover {
	text-decoration: none;
}

.addrow, .deleterow, .recalculate {
	color: #428BCA;
	cursor: pointer;
}

.addrow:hover, .deleterow:hover, .recalculate:hover {
	color: #2A6496;
}

.modal-ajax {
	padding-left: 25px;
	font-size: 18px;
}

.modal-error-msg {
	padding-left: 25px;
	color: #FF0000;
	font-size: 18px;
}

/************** TABLES ***************/
table {
	width: 100%;
}

th {
	border-bottom: 2px solid #555;
	text-align: left;
	font-size: 16px;
}

th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

th a.asc:after {
	content: ' ⇣';
}

th a.desc:after {
	content: ' ⇡';
}

table tr td {
	padding: 4px;
	text-align: left;
}

table.stripped tr td {
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #DDDDDD;
}

table.stripped tr:hover {
	  background-color: #FFFF99;
}

table.stripped .tr-ledger {

}

table.stripped .tr-group {
	background-color: #F3F3F3;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#428BCA;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#428BCA), to(#428BCA));
	background-image: -webkit-linear-gradient(top, #428BCA, #428BCA);
	background-image: -moz-linear-gradient(top, #428BCA, #428BCA);
	border-color: #357EBD;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #3276B1;
	border-color: #285E8E;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.paginate {
	margin-top:20px;
}

#footer {
	margin-top: 60px;
	border-top: 1px solid #BBBBBB;
}

.table-top {
	vertical-align: top;
}

.width-50 {
	width: 40%;
}

.report-tb-pad {
	padding-top: 30px;
}

.bold-text {
	font-weight: bold;
}

.error-text {
	font-weight: bold;
	color: #FF0000;
}

.ok-text {
	color: #006400;
}
